<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-sm bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold text-center mb-6">
      Login
    </h2>
    <form action="" (ngSubmit)="adminLogin($event)" >
      <div class="mb-4">
        <label class="block text-sm font-medium mb-1">
          email
        </label>
        <!-- in input [ngModel] assigns property to the values ie assigns signal username to the input value -->
        <!-- in input (ngModelChange) is an change event in the input that is used to update the signal or variable value -->
        <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300" type="email" placeholder="Enter email" [formField]="loginForm.adminEmail" />
        @if (loginForm.adminEmail().touched() && loginForm.adminEmail().invalid()) {
          <ul class="text-red-500 text-sm mt-1 pl-0 list-inside">
            @for (error of loginForm.adminEmail().errors(); track error ) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium mb-1">
          Password
        </label>
        <input class="w-full px-3 py-2 border rounded focus:outline-none focus:ring focus:ring-blue-300" type="password" placeholder="Enter password"  
        [formField]="loginForm.adminPassword" />
        @if (loginForm.adminEmail().touched() && loginForm.adminEmail().invalid()) {
          <ul class="text-red-500 text-sm mt-1 pl-0 list-inside">
            @for (error of loginForm.adminPassword().errors(); track error) {
              <li>{{ error.message }}</li>
            }
          </ul>
        }
      </div>
      <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition" type="submit"  >
        Login
      </button>
    </form>
  </div>
</div>