<div class='flex flex-col pl-[48px] pr-[32px] pt-[40px] gap-[24px] bg-[#FAFAFA]'>
    <header class='flex justify-between'>
        <h3
            class='w-[170px] h-[38px] rounded py-2 gap-4 opacity-100 font-inter font-medium text-[24px] leading-[36px] tracking-normal align-middle text-[#1C2A53]'>
            Dashboard</h3>
        <div class='flex gap-[16px]'>
            <select name="" id=""
                class='width: 170px; height: 38px; left: 1006px; border-radius: 4px; opacity: 1; padding-top: 8px; padding-right: 16px; padding-bottom: 8px; padding-left: 16px;'>
                <option value="">jan 1 - 28</option>
                <option value="">feb 1 - 28</option>
                <option value="">march 1 - 28</option>
            </select>
            <!-- <CiMenuBurger class='h-full' /> -->
        </div>
    </header>
    <!-- stati small cards -->
    <div class='flex gap-[32px] justify-between'>
        <!-- 1 -->
        <div
            class='w-[280px] h-[108px] rounded-[12px] opacity-100 bg-[#FFFFFF] px-[32px] pt-[23px] pb-[24px] flex gap-[62px]'>
            <div class='flex flex-col'>
                <p
                    class='text-[#8E95A9] font-inter font-medium text-[14px] leading-[22px] tracking-normal align-middle'>
                    Revenue</p>
                <h3
                    class='text-[#1C2A53] font-inter font-semibold text-[24px] leading-[40px] tracking-normal align-middle'>
                    $7,825</h3>
            </div>
            <div class='flex flex-col gap-[10px]'>
                <p
                    class='text-[#FF8901] font-inter font-bold text-[14px] leading-[22px] tracking-normal text-right align-middle'>
                    + 22%</p>
                <img src='assets/images/revenue-status.png' alt="" class='w-[75px] h-[29px]' />
            </div>
        </div>
        <!-- 2 -->
        <div
            class='w-[280px] h-[108px] rounded-[12px] opacity-100 bg-[#FFFFFF] px-[32px] pt-[23px] pb-[24px] flex gap-[62px]'>
            <div class='flex flex-col'>
                <p
                    class='text-[#8E95A9] font-inter font-medium text-[14px] leading-[22px] tracking-normal align-middle'>
                    Revenue</p>
                <h3
                    class='text-[#1C2A53] font-inter font-semibold text-[24px] leading-[40px] tracking-normal align-middle'>
                    $7,825</h3>
            </div>
            <div class='flex flex-col gap-[10px]'>
                <p
                    class='text-[#FF8901] font-inter font-bold text-[14px] leading-[22px] tracking-normal text-right align-middle'>
                    + 22%</p>
                <img src="assets/images/revenue-status.png" alt="" class='w-[75px] h-[29px]' />
            </div>
        </div>
        <!-- 3 -->
        <div
            class='w-[280px] h-[108px] rounded-[12px] opacity-100 bg-[#FFFFFF] px-[32px] pt-[23px] pb-[24px] flex gap-[62px]'>
            <div class='flex flex-col'>
                <p
                    class='text-[#8E95A9] font-inter font-medium text-[14px] leading-[22px] tracking-normal align-middle'>
                    Revenue</p>
                <h3
                    class='text-[#1C2A53] font-inter font-semibold text-[24px] leading-[40px] tracking-normal align-middle'>
                    $7,825</h3>
            </div>
            <div class='flex flex-col gap-[10px]'>
                <p
                    class='text-[#FF8901] font-inter font-bold text-[14px] leading-[22px] tracking-normal text-right align-middle'>
                    + 22%</p>
                <img src="assets/images/revenue-status.png" alt="" class='w-[75px] h-[29px]' />
            </div>
        </div>
        <!-- 4 -->
        <div
            class='w-[280px] h-[108px] rounded-[12px] opacity-100 bg-[#FFFFFF] px-[32px] pt-[23px] pb-[24px] flex gap-[62px]'>
            <div class='flex flex-col'>
                <p
                    class='text-[#8E95A9] font-inter font-medium text-[14px] leading-[22px] tracking-normal align-middle'>
                    Revenue</p>
                <h3
                    class='text-[#1C2A53] font-inter font-semibold text-[24px] leading-[40px] tracking-normal align-middle'>
                    $7,825</h3>
            </div>
            <div class='flex flex-col gap-[10px]'>
                <p
                    class='text-[#FF8901] font-inter font-bold text-[14px] leading-[22px] tracking-normal text-right align-middle'>
                    + 22%</p>
                <img src="assets/images/revenue-status.png" alt="" class='w-[75px] h-[29px]' />
            </div>
        </div>
    </div>
    <!-- bar graph card -->
    <div class='w-full h-[420px] rounded- 16px bg-[#FFFFFF] p-[32px] flex flex-col'>
        <!-- header -->
        <header class='flex justify-between'>
            <h3 class='font-inter font-medium text-[20px] leading-[30px] tracking-[0] align-middle text-[#1C2A53]'>
                Dashboard</h3>
            <h3
                class='font-inter font-semibold text-[14px] leading-[22px] tracking-[0] text-right align-middle text-[#555F7E]'>
                Advanced Report</h3>
        </header>
        <!-- bar graph part -->
        <div></div>
    </div>

    <!-- revenue by device(piegraph) and trafic visits chart(line chart and trafic small charts) card -->
    <div class='flex gap-[32px] w-full h-[533px]'>
        <!-- pie graph part -->
        <div class='bg-[#FFFFFF] w-full h-[full] rounded-[16px] p-[32px] flex flex-col'>
            <!-- header -->
            <header class='flex justify-between'>
                <h3 class='font-inter font-medium text-[20px] leading-[30px] tracking-[0] align-middle text-[#1C2A53]'>
                    Revenue by device</h3>
                <h3
                    class='font-inter font-semibold text-[14px] leading-[22px] tracking-[0] text-right align-middle text-[#555F7E]'>
                    More</h3>
            </header>
        </div>
        <!-- trafic part -->
        <div class='bg-[#FFFFFF] w-full h-[full] rounded-[16px] p-[32px] flex flex-col'>
            <!-- header -->
            <header class='flex justify-between'>
                <h3 class='font-inter font-medium text-[20px] leading-[30px] tracking-[0] align-middle text-[#1C2A53]'>
                    Traffic</h3>
                <h3
                    class='font-inter font-semibold text-[14px] leading-[22px] tracking-[0] text-right align-middle text-[#555F7E]'>
                    More</h3>
            </header>
        </div>

    </div>

    <!-- latest bookings table -->
    <div class='bg-[rgb(255,255,255)] w-full h-[830px] rounded-[16px] opacity-100 flex justify-center'>
        <!-- sales detail table -->
        <table class="w-[1267px] mt-4 ">
            <thead class="bg-[#F8F8F8] py-[32px] h-[64px] w-[1152px] rounded-tl-[8px] rounded-tr-[8px]">
                <tr class="text-center h-full">
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal ">
                        Booking Id</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal ">
                        Movie Name</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        No Of Tickets</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Customer</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Address</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Date</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Revenue</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Net Profit</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Booking Mode</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Status</td>
                    <td
                        class="no-underline text-[#8E95A9] font-inter font-semibold text-[14px] leading-[22px] tracking-normal align-middle-center">
                        Actions</td>
                </tr>
            </thead>
            <tbody>
                @for(tableRow of tables; track $index) {
                <tr class="text-center h-6 rounded-tl-sm rounded-tr-sm border-b border-b-gray-300">
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        #53200002</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Analog Table Clock</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        x2</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Athul Manoj</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Kudiyanmala,Kannur,Kerala,India</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Feb 5, 2020</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        $253.82</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        $60.76</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Online</td>
                    <td
                        class='font-public-sans font-normal text-[14px] leading-[20px] tracking-normal align-middle text-[#555F7E]'>
                        Canceled</td>
                    <td class='flex justify-center items-center h-19'>
                        <div class='flex gap-1.5'>
                            <!-- <FaRegEdit /> -->
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                            <button><i class="fa-solid fa-delete-left"></i></button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>